input:-webkit-autofill::first-line {
  font-size: 20px
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.nonMobileForm {
  display: none;
}

.loginNavbar {
  text-align: right;
  background-color: blue;
  height: 40px;
}

.regText {
  color: white;
  font-size: 30px;
}

.registration {
  text-decoration: none;
  margin-right: 30px;
}

.registration:hover {
  text-decoration: underline;
  text-decoration-color: gray;
}

.registration:visited {
  color: black;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 400%;
  color: rgb(31, 46, 44);
  font-family: Arial, Helvetica, sans-serif;
}

.instructions {
  max-width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: rgb(2, 127, 181);
  padding: 30px 30px 30px 30px;
  border-radius: 25px;
  font-size: 150%;
}

.mobileInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input {
  width: 100%;
  box-sizing: border-box;
  border-width: medium;
  border-color: lightgray;
  border-style: solid;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

input::placeholder {
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
  font-size: 20px;
}

button {
  width: 100px;
  height: 50px;
  background-color: white;
  color: gray;
  border: 2px solid gray;
  border-color: lightgray;
  font-size: 100%;
  margin-bottom: 50px;
}


@media (min-width: 768px) {
  .mobileLandingForm {
    display: none;
  }

  .nonMobileForm {
    display: initial;
  }

  .loginNavbar  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    height: 80px;
  }

  .inputOne, .inputTwo {
    height: 80%;
  }

  .form {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
  }

  .registration {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    margin-top: 30px;
  }

  h1 {
    font-size: 400%;
  }

  .instructions {
    font-size: 200%;
  }

  #landingLoader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

}
