.login   {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  padding-top: 10px;
  padding-left: 20px;
  border-bottom: 2px solid lightgray;
}

.form {
  display: flex;
  flex-direction: row;
}

form {
  width: 600px;
}

input {
  margin-bottom: 10px;
}

button {
  width: 100px;
  height: 50px;
  background-color: white;
  color: gray;
  border: 2px solid gray;
  border-color: lightgray;
  font-size: 80%;
  margin-right: 10px;
}

input {
  width: 160%;
  box-sizing: border-box;
  border-width: medium;
  border-color: lightgray;
  border-style: solid;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px
}

input::placeholder {
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
  font-size: 20px;
}

.registration {
  text-decoration: none;
  padding-top: 10px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.regText {
  color: gray;
}

.registration:hover {
  text-decoration: underline;
}

.registration:visited {
  color: black;
}

h1 {
  font-size: 500%;
  color: rgb(31, 46, 44);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}

.instructions {
  max-width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: rgb(2, 127, 181);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  font-size: 150%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
