.tableTopNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
  height: 40px;
}

.accountLinkText {
  color: white;
  font-size: 30px;
}

.accountLink {
  margin-right: 30px;
  text-decoration: none;
}

.accountLink:hover {
  text-decoration: underline;
  text-decoration-color: gray;
}

.accountLink:visited {
  color: black;
}

.logOutButton {
  width: 100px;
  height: 38px;
  margin-top: 2px;
  color: white;
  background-color: teal;
}

.buttonToHide {
  display: none;
}

.tableTopHeading {
  font-size: 400%;
  color: rgb(31, 46, 44);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.noteView, .noteTextView {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.noteView:link, .noteTextView:link {
  color: black;
}

.noteView:visited, .noteTextView:visited {
  color: black;
}

.noteDelete {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.postDeleteLink {
  margin-top: 30px;
}

.noteDelete:visited {
  color: black;
}

.noteDelete:hover {
  text-decoration: underline;
}

.noteTextView {
  font-size: 14px;
}

.noteInput {
  word-break: break-word;
  width: 650px;
  height: 350px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 4px solid #ccc;
  border-radius: 10px;
  background-color: white;
  resize: none;
}

.h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 50px 50px 50px;
}

.sidebar {
  width: 130%;
}

.folderNameInput {
  width: 50%;
}

.sidebarInput {
  display: flex;
  justify-content: center;
}

.textview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  margin-top: 20px;
  padding: 30px 30px 30px 30px;
}

.noteEnterButton {
  width: 30%;
  margin-top: 20px;
}


@media (min-width: 768px) {
  .container {
    display: table;
    width: 100%;
    margin-left: 30px;
  }

  .sidebar {
    display: table-cell;
    width: 50%;
    vertical-align: text-top;
  }

  .sidebarInput {
    display: initial;
  }

  .textview {
    padding: 0;
  }

  .noteDisplayed {
    width: 500px;
  }

  .noteDelete {
    font-size: 16px;
  }

  .noteTextView {
    font-size: 20px;
  }

  .postNameLink {
    width: 100%;
    vertical-align: text-top;
  }

  .editPostButton {
    width: 30%;
  }

  .noteView {
    font-size: 55px;
    vertical-align: text-top;
  }
}
