.tableTopNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  height: 40px;
}

.accountLinkText {
  color: white;
  font-size: 30px;
}

.accountLink { 
  margin-right: 30px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
}

.accountLink:hover {
  text-decoration: underline;
  text-decoration-color: gray;
}

.accountLink:visited {
  color: black;
}

.logOutButton {
  width: 100px;
  height: 38px;
  margin-top: 2px;
  font-size: 16px;
  color: white;
  background-color: teal;
}

.buttonToHide {
  display: none;
}

.tableTopTitle {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 4px;
}

.noteView, .noteTextView {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.noteView:link, .noteTextView:link {
  color: black;
}

.noteView:visited, .noteTextView:visited {
  color: black;
}

.noteDelete {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.postDeleteLink {
  margin-top: 30px;
}

.noteDelete:visited {
  color: black;
}

.noteDelete:hover {
  text-decoration: underline;
}

.noteTextView {
  font-size: 14px;
}

.noteInput {
  word-break: break-word;
  width: 650px;
  height: 350px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  resize: none;
}

.h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.sidebar {
  width: 130%;
}

.folderNameInput {
  width: 60%;
  height: 50px;
  font-size: 20px;
  padding-left: 8px;
  color: black;
  border-color: black;
  border-width: 1px;
  margin-top: 50px;
  margin-left: 20px;
}

.sidebarInput {
  display: flex;
  justify-content: center;
}

.textview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}

.noteDisplayed {
  width: 90%;
  line-height: 200%;
  margin-top: 20px;
  vertical-align: text-top;
}

/* Post title */
.noteView {
  font-size: 30px;
}

/* Post text */
.noteTextView {
  font-size: 18px;
}

/* Post delete button */
.noteDelete {
  font-size: 16px;
}

/* Edit post title */
.postNameLink {
  width: 200px;
  height: 40px;
  padding: 10px 10px 10px 10px;
}

/* Edit post text */
.editPostText {
  margin-top: 30px;
  line-height: 200%;
  font-size: 16px;
  width: 400px;
}

/* Submit post edits */
.noteEnterButton {
  height: 50px;
  width: 100px;
  font-size: 16px;
  color: black;
  border-color: black;
  margin-top: 20px;
}


@media (min-width: 768px) {
  .tableTopNavbar {
    height: 80px;
  }

  .tableTopTitle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 13px;
  }

  .accountLink {
    margin-top: 30px;
  }

  .logOutButton {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
  }

  .container {
    display: table;
    width: 90%;
    padding: 10px 10px 10px 10px;
    line-height: 150%;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .sidebar {
    display: table-cell;
    width: 40%;
    vertical-align: text-top;
    padding-bottom: 24%;
    border-right: solid;
    border-width: 1px;
  }

  .sidebarInput {
    display: initial;
  }

  /* Post title and text container */
  .textview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 60px;
  }

  /* Post text container */
  .noteDisplayed {
    width: 85%;
    line-height: 200%;
    margin-top: 20px;
    vertical-align: text-top;
  }

  /* Post title */
  .noteView {
    font-size: 45px;
    vertical-align: text-top;
  }

  /* Post text */
  .noteTextView {
    font-size: 18px;
  }

  /* Post delete button */
  .noteDelete {
    font-size: 16px;
  }

  /* Edit post title */
  .postNameLink {
    font-size: 30px;
    vertical-align: text-top;
  }

  /* Edit post text */
  .editPostText {
    width: 575px;
  }

}
