.notes {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.notes:link {
  color: gray;
}

.notes:visited {
  color: black;
}

.folderMenu {
  text-decoration: none;
}

.folderName  {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.folderName:visited {
  color: black;
}

.folderName:link {
  color: black;
}

.folderAndNotes {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.listStyle {
  list-style-type: square;
}

.note {
  color: gray;
}
