input:-webkit-autofill::first-line {
  font-size: 20px
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.regNonMobileForm {
  display: none;
}

.regNavbar {
  text-align: right;
  background-color: blue;
  height: 40px;
}

.landingLinkText {
  color: white;
  font-size: 30px;
}

.landingLink {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
}

.landingLink:hover {
  text-decoration: underline;
  text-decoration-color: gray;
}

.landingLink:visited {
  color: black;
}

.regPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regHO {
  font-size: 400%;
  color: rgb(31, 46, 44);
  font-family: Arial, Helvetica, sans-serif;
}

.regInstructions {
  max-width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: rgb(2, 127, 181);
  padding: 30px 30px 30px 30px;
  border-radius: 25px;
  font-size: 150%;
}

.regMobileInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.regInputOne, .regInputTwo {
  width: 100%;
  box-sizing: border-box;
  border-width: medium;
  border-color: lightgray;
  border-style: solid;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.regInputOne:placeholder, .regInputTwo:placeholder {
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
  font-size: 20px;
}

.regButton {
  width: 100px;
  height: 50px;
  background-color: white;
  color: gray;
  border: 2px solid gray;
  border-color: lightgray;
  font-size: 100%;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .regMobileInputs {
    display: none;
  }

  .regNonMobileForm {
    display: initial;
  }

  .regNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    height: 80px;
  }

  .regInputOne, .regInputTwo {
    height: 80%;
  }

  .redInput {
    border: 2px solid rgb(255, 0, 0);
    border-width: medium;
  }

  .greenInput {
    background-color: rgb(124, 252, 0);
    border: 2px solid rgb(124, 252, 0);
    border-width: medium;
  }

  .passwordMessage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-left: 300px;
    color: red;
  }

  .regForm {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
  }

  .landingLinkText {
    color: white;
    font-size: 30px;
  }

  .landingLink {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    margin-top: 30px;
  }

  .regHeadingOne {
    font-size: 400%;
  }

  .regInstructions {
    font-size: 200%;
  }

  .showMessage {
    position: fixed;
    top: 80px;
    left: -200px;
    width: 1000px;
  }

}
