.edit:link {
  color:black;
  text-decoration: none;
  margin-left: 25px;
}

.edit:visited {
  color: black;
}

.delete:link {
  color:black;
  text-decoration: none;
}

.delete:visited {
  color: black;
}

.create:link {
  color:black;
  text-decoration: none;
}

.create:visited {
  color: black;
}

.editFolderText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.deleteFolderText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.createNoteText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

@media (min-width: 768px) {
  .editFolderText {
    font-size: 14px;
  }

  .deleteFolderText {
    font-size: 14px;
  }

  .createNoteText {
    font-size: 14px;
  }
}
