.edit:link {
  color:black;
  text-decoration: none;
  margin-left: 25px;
}
.edit:visited {
  color: black;
}

.delete:link {
  color:black;
  text-decoration: none;
}
.delete:visited {
  color: black;
}

.create:link {
  color:black;
  text-decoration: none;
}
.create:visited {
  color: black;
}
