.accountInputOne:-webkit-autofill::first-line, .accountInputTwo:-webkit-autofill::first-line {
  font-size: 20px
}

.accountInputOne:-webkit-autofill, .accountInputTwo:-webkit-autofill,
.accountInputOne:-webkit-autofill:hover, .accountInputTwo:-webkit-autofill:hover,
.accountInputOne:-webkit-autofill:focus, .accountInputTwo:-webkit-autofill:focus,
.accountInputOne:-webkit-autofill:active, .accountInputTwo:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.nonMobileAccountFormOne {
  display: none;
}

.accountNavbar {
  background-color: black;
  height: 40px;
}

.tableTopLinkText {
  color: white;
  font-size: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}

.tableTopLink {
  text-decoration: none;
}

.tableTopLink:visited {
  color: black;
}

.tableTopLink:hover {
  text-decoration: underline;
  text-decoration-color: gray;
}

.accountPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountHeading {
  font-size: 400%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.accountInstructions {
  max-width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 30px 30px 30px 30px;
  font-size: 20px;
  line-height: 200%;
  border-style: solid;
  border-width: 1px;
}

.mobileAccountInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.accountInputOne, .accountInputTwo {
  width: 100%;
  box-sizing: border-box;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.accountInputOne::placeholder, .accountInputTwo::placeholder {
  color: gray;
  font-size: 20px;
}

.accountButtonOne, .accountButton {
  width: 100px;
  height: 46px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-color: black;
  font-size: 100%;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .mobileAccountForm {
    display: none;
  }

  .nonMobileAccountFormOne {
    display: initial;
  }

  .accountNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 80px;
  }

  .tableTopLinkText {
    font-size: 30px;
    padding-top: 30px;
    padding-right: 20px;
  }

  .tableTopLink {
    text-decoration: none;
  }

  .accountInputOne, .accountInputTwo {
    height: 80%;
  }

  .nonMobileAccountFormTwo {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
  }

  .accountHeading {
    font-size: 400%;
  }

  .accountInstructions {
    font-size: 20px;
    line-height: 200%;
    border-style: solid;
    border-width: 1px;
  }

}
