input:-webkit-autofill::first-line {
  font-size: 20px
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-input-placeholder {
     line-height:normal!important;
}

.nonMobileAccountFormOne {
  display: none;
}

.accountNavbar {
  background-color: blue;
  height: 40px;
}

.tableTopLinkText {
  color: white;
  font-size: 30px;
  margin-left: 30px;
}

.tableTopLink {
  text-decoration: none;
}

.tableTopLink:visited {
  color: black;
}

.tableTopLink:hover {
  text-decoration: underline;
  text-decoration-color: gray;
}

.accountPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountHeading {
  font-size: 400%;
  color: rgb(31, 46, 44);
  font-family: Arial, Helvetica, sans-serif;
}

.accountInstructions {
  max-width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: rgb(2, 127, 181);
  padding: 30px 30px 30px 30px;
  border-radius: 25px;
  font-size: 150%;
}

.mobileAccountInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input {
  width: 100%;
  box-sizing: border-box;
  border-width: medium;
  border-color: lightgray;
  border-style: solid;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

input::placeholder {
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
  font-size: 20px;
}

button {
  width: 100px;
  height: 50px;
  background-color: white;
  color: gray;
  border: 2px solid gray;
  border-color: lightgray;
  font-size: 100%;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .mobileAccountForm {
    display: none;
  }

  .nonMobileAccountFormOne {
    display: initial;
  }

  .accountNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    height: 80px;
  }

  .accountInputOne, .accountInputTwo {
    height: 80%;
  }

  .nonMobileAccountFormTwo {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
  }

  .tableTopLink {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    margin-top: 30px;
  }

  .accountHeading {
    font-size: 400%;
  }

  .accountInstructions {
    font-size: 200%;
  }

}
